
<div id="followtournament" class ="row" ng-controller ="followTournament">
	<form name="formFollowTournament">
		<h2> Suivre un tournoi</h2>
			<div class="row">
				<label>Choisissez le tournoi : </label>
					<select name="selectedTournament" id="selectedTournament" class="col-md-3" ng-model="selectedTournament" required
							ng-options="tournament as tournament.name for tournament in tournaments">

					</select>
					<input type ="button"  value="Voir tournoi" id="showTournament" ng-disabled="formFollowTournament.$invalid" ng-click="followtournament()"/>
			</div>
	</form>
</div>
